@tailwind base;
@tailwind components;
@tailwind utilities;



html, body, #root {
  height: auto;        /* 100% ki jagah auto */
  min-height: 100%;    /* minimum height screen ke barabar */
  overflow-x: hidden;  /* horizontal scroll remove */
  overflow-y: auto;    /* vertical scroll allow */
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
